# Exclude byte-compiled/optimized/dll files:
__pycache__/
*.py[cod]
*$py.class

# Exclude the data directory and conda environment from git:
data/*
envs/*
.git/*
.vscode/*

# Exclude test scripts from git:
scripts/test*.py