lse_map_file                =   C:\Users\rober\Documents\src\python\kiteworks_scraper\lse_map.csv
filename_template           =   MonthlyRAReporting_[yyyy]-[mm]_[lse_abbrev].xlsx
temp_directory              =   C:\Users\rober\Documents\src\python\kiteworks_scraper\downloaded_attachments
report_directory            =   C:\Users\rober\Documents\src\python\kiteworks_scraper\RA_Reports
webdriver_directory         =   C:\Users\rober\Documents\src\python\kiteworks_scraper\webdrivers
browser                     =   firefox
browser_action_timer        =   1.0
browser_action_retries      =   5
log_file                    =   C:\Users\rober\Documents\src\python\kiteworks_scraper\logs\ra_reports_retrieval.log
cli_logging_criticalities   =   ERROR,WARNING
file_logging_criticalities  =   ERROR